@charset "utf-8";

* {
  padding: 0;
  margin: 0;
}

@media screen and (min-width:1400px) {
  header .header-1200 {
    background: #1f1f1f;
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 100;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    column-gap: clamp(1.5rem, 3vw, 4rem);
    padding: 0 clamp(2rem, 4vw, 5rem);
    box-sizing: border-box;
  }

  header .header-1200 .logo {
    height: 40px;
    justify-self: start;
  }

  header .header-1200 .bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(0.75rem, 1.6vw, 2.4rem);
    list-style: none;
    margin: 0;
    padding: 0;
  }

  header .header-1200 .bar li {
    list-style: none;
    white-space: nowrap;
  }

  header .header-1200 .bar a {
    color: #FFF;
    text-decoration: none;
    font-family: Arial;
    font-size: clamp(14px, 1.1vw, 16px);
    font-weight: 500;
    padding: 0 clamp(0.75rem, 1.2vw, 1.6rem);
    position: relative;
  }

  header .header-1200 .bar li a:hover {
    color: #afafaf;
  }

  header .header-1200 .sns {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: clamp(0.5rem, 1.5vw, 2rem);
    list-style: none;
    margin: 0;
    padding: 0;
  }

  header .header-1200 .sns ul {
    padding-left: 0;
  }

  header .header-1200 .sns li {
    list-style: none;
  }

  header .header-1200 .sns li img {
    height: 20px;
    width: auto;
    display: block;
  }

  header .header-768 {
    display: none;
  }
}

@media screen and (min-width:1068px) and (max-width:1399.98px) {
  header .header-768 {
    background: #1f1f1f;
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 100;
  }

  header .header-768 .logo {
    height: 40px;
    padding-left: 5vw;
    position: absolute;
    z-index: 99;
    padding-top: 10px;
  }

  .drawer_hidden {
    display: none;
  }

  header .header-768 .drawer_open {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 6%;
    z-index: 100;
    cursor: pointer;
    padding: 10px;
    height: 40px;
  }

  .drawer_open span,
  .drawer_open span:before,
  .drawer_open span:after {
    content: '';
    display: block;
    height: 3px;
    width: 30px;
    border-radius: 3px;
    background: #fff;
    transition: 0.5s;
    position: absolute;
  }

  .drawer_open span:before {
    bottom: 10px;
  }

  .drawer_open span:after {
    top: 10px;
  }

  #drawer_input:checked~.drawer_open span {
    background: rgba(255, 255, 255, 0);
  }

  #drawer_input:checked~.drawer_open span::before {
    bottom: 0;
    transform: rotate(45deg);
  }

  #drawer_input:checked~.drawer_open span::after {
    top: 0;
    transform: rotate(-45deg);
  }

  .nav_content {
    width: 100%;
    height: 500px;
    position: fixed;
    bottom: 100%;
    z-index: 99;
    background-color: #1f1f1f;
    transition: .0s;
    text-align: center;
  }

  #drawer_input:checked~.nav_content {
    bottom: 10vh;
    top: 60px;
  }

  header .p {
    text-align: center;
  }

  header .p p {
    font-size: 10px;
    font-family: Arial;
    padding-top: 450px;
    color: #fff;
  }

  header .header-768 .bar {
    display: flex;
    position: absolute;
    left: 10vw;
    top: 100px;
    padding-top: 19px;
  }

  header .header-768 .bar ul {
    padding-left: 0
  }

  header .header-768 .bar li {
    list-style: none;
  }

  header .header-768 .bar a {
    color: #FFF;
    text-decoration: none;
    font-family: Arial;
    font-size: 16px;
    font-weight: 5;
    /*padding-left: 2.5vw;*/
    padding-right: 2.5vw;
    position: relative;
  }

  header .header-768 .bar li a:hover {
    color: #afafaf;
  }

  header .header-768 .sns {
    display: flex;
    position: absolute;
    top: 100px;
    right: 10vw;
  }

  header .header-768 .sns ul {
    padding-left: 0
  }

  header .header-768 .sns li {
    list-style: none;
  }

  header .header-768 .sns li img {
    height: 20px;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-top: 20px;
  }

  header .header-768 .blank {
    width: 100%;
    height: 10px;
    background-color: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    padding-top: 60px;
  }

  header .header-1200 {
    display: none;
  }
}

@media screen and (max-width:1067.98px) {
  header .header-768 {
    background: #1f1f1f;
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 100;
  }

  header .header-768 .logo {
    padding: 10px;
    height: 40px;
    position: absolute;
    left: 2vw;
    z-index: 100;
  }

  .drawer_hidden {
    display: none;
  }

  header .header-768 .drawer_open {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 7%;
    z-index: 100;
    cursor: pointer;
    padding: 0px;
    height: 60px;
  }

  .drawer_open span,
  .drawer_open span:before,
  .drawer_open span:after {
    content: '';
    display: block;
    height: 2px;
    width: 30px;
    border-radius: 0px;
    background: #fff;
    transition: 0.5s;
    position: absolute;
  }

  .drawer_open span:before {
    bottom: 10px;
  }

  .drawer_open span:after {
    top: 10px;
  }

  #drawer_input:checked~.drawer_open span {
    background: rgba(255, 255, 255, 0);
  }

  #drawer_input:checked~.drawer_open span::before {
    bottom: 0;
    transform: rotate(45deg);
  }

  #drawer_input:checked~.drawer_open span::after {
    top: 0;
    transform: rotate(-45deg);
  }

  header .nav_content {
    width: 100%;
    height: 500px;
    position: fixed;
    bottom: 100%;
    z-index: 99;
    background-color: #1f1f1f;
    transition: .0s;
    text-align: center;
  }

  #drawer_input:checked~.nav_content {
    bottom: 10vh;
    top: 59px;
  }

  header .p {
    text-align: center;
  }

  header .p p {
    font-size: 10px;
    font-family: Arial;
    padding-top: 450px;
    color: #fff;
  }

  header .header-768 .bar {
    position: absolute;
    left: 15vw;
    top: 50px;
    padding-top: 20px;
  }

  header .header-768 .bar ul {
    padding-left: 0
  }

  header .header-768 .bar li {
    list-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  header .header-768 .bar a {
    color: #FFF;
    text-decoration: none;
    font-family: Arial;
    font-size: 15px;
    font-weight: 5;
    position: relative;
  }

  header .header-768 .bar li a:hover {
    color: #afafaf;
  }

  header .header-768 .sns {
    display: flex;
    position: absolute;
    top: 40px;
    right: 5vw;
  }

  header .header-768 .sns ul {
    padding-left: 0
  }

  header .header-768 .sns li {
    list-style: none;
  }

  header .header-768 .sns li img {
    height: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 55px;
  }

  header .header-1200 {
    display: none;
  }
}

main {
  background-color: #2f2f2f;
  padding-bottom: 20vh;
}

main h1 {
  text-align: center;
  font-family: serif;
  font-size: 30px;
  color: white;
  letter-spacing: 6px;
  padding-bottom: 100px;
  padding-top: 180px;
}

main h2 {
  color: white;
  font-size: 18px;
  font-weight: 700;
  font-family: serif;
  margin-left: 10vw;
  margin-right: 10vw;
  padding: 10px;
  letter-spacing: 4px;
}

main p {
  color: #afafaf;
  font-size: 15px;
  font-family: sans-serif;
  margin-left: 10vw;
  padding: 10px;
  letter-spacing: 2px;
  width: 80%;
}

main a {
  color: #afafaf;
  font-size: 15px;
  font-family: sans-serif;
  margin-left: 5vw;
  padding: 10px;
  letter-spacing: 2px;
  width: 80%;
}

@media screen and (max-width:1067.98px) {
  main h1 {
    font-size: 25px;
    padding-top: 130px;
    padding-bottom: 50px;
  }
}

@media screen and (min-width:1400px) {
  footer {
    width: 100vw;
    height: 500px;
    background-color: #1f1f1f;
    display: flex;
  }

  footer .logo {
    width: 30vw;
    position: relative;
    left: 5vw;
    top: 200px;
  }

  footer .menu {
    width: 55vw;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px 20px 20px 20px;
    display: flex;
    position: relative;
    top: 50px;
    left: 10vw;
  }

  footer .bar {
    padding-top: 100px;
    width: 120%;
  }

  footer .bar ul {
    padding-left: 0;
    text-align: center;
  }

  footer .bar li {
    list-style: none;
    padding-bottom: 25px;
  }

  footer .bar a {
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: Arial;
    font-size: 15px;
    font-weight: 5;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
  }

  footer .line {
    margin: 0 1rem;
    width: 1px;
    background-color: white;
    height: 60%;
    position: relative;
    top: 20%;
  }

  footer .sns {
    padding-top: 50px;
    text-align: center;
    width: 100%;
    height: 150px;
  }

  footer .sns ul {
    padding-left: 0;
  }

  footer .sns li {
    list-style: none;
  }

  footer .sns li img {
    height: 20px;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-bottom: 40px;

  }

  footer .sns p {
    color: #fff;
    font-family: Arial;
    font-size: 10px;
    position: relative;
    top: 120px;
  }
}

@media screen and (min-width:1068px) and (max-width:1399.98px) {
  footer {
    width: 100vw;
    height: 500px;
    background-color: #1f1f1f;
    display: flex;
  }

  footer .logo {
    width: 30vw;
    position: relative;
    left: 5vw;
    top: 100px;
  }

  footer .menu {
    width: 55vw;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px 20px 20px 20px;
    display: flex;
    position: relative;
    top: 50px;
    left: 10vw;
  }

  footer .bar {
    padding-top: 100px;
    width: 120%;
  }

  footer .bar ul {
    padding-left: 0;
    text-align: center;
  }

  footer .bar li {
    list-style: none;
    padding-bottom: 25px;
  }

  footer .bar a {
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: Arial;
    font-size: 15px;
    font-weight: 5;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
  }

  footer .line {
    margin: 0 1rem;
    width: 1px;
    background-color: white;
    height: 60%;
    position: relative;
    top: 20%;
  }

  footer .sns {
    padding-top: 50px;
    text-align: center;
    width: 100%;
    height: 150px;
  }

  footer .sns ul {
    padding-left: 0;
  }

  footer .sns li {
    list-style: none;
  }

  footer .sns li img {
    height: 20px;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-bottom: 40px;

  }

  footer .sns p {
    color: #fff;
    font-family: Arial;
    font-size: 8px;
    position: relative;
    top: 130px;
  }
}

@media screen and (max-width:1067.98px) {
  footer {
    width: 100vw;
    height: 500px;
    background-color: #1f1f1f;
    text-align: center;
  }

  footer .logo {
    height: 50px;
    position: relative;
    top: 30px;
  }

  footer .bar {
    padding-top: 30px;
    width: 100%;
  }

  footer .bar ul {
    padding-left: 0;
    text-align: center;
  }

  footer .bar li {
    list-style: none;
    padding-bottom: 20px;
  }

  footer .bar a {
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: Arial;
    font-size: 15px;
    font-weight: 5;
  }

  footer .line {
    display: none;
  }

  footer .sns {
    padding-top: 0px;
    text-align: center;
    width: 100%;
  }

  footer .sns ul {
    padding-left: 0;
  }

  footer .sns li {
    list-style: none;
  }

  footer .sns li img {
    height: 23px;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-bottom: 20px;

  }

  footer .sns p {
    color: #fff;
    font-family: Arial;
    font-size: 10px;
  }
}